<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <ul class="nav nav-pills">
      <a class="navbar-brand" href="#">
        <img src="assets/ESPNLogo (2).PNG" alt="" width="126" height="35">
      </a>
      <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-sm bg-dark btn-outline-dark text-white" aria-current="page" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">NFL</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Home</a></li>
          <li><a class="dropdown-item" href="#">Scores</a></li>
          <li><a class="dropdown-item" href="#">Schedule</a></li>
          <li><a class="dropdown-item" href="#">Standings</a></li>
          <li><a class="dropdown-item" href="#">Stats</a></li>
          <li><a class="dropdown-item" href="#">Teams</a></li>
          <li><a class="dropdown-item" href="#">Sign Up: Fantasy Football</a></li>
          <li><a class="dropdown-item" href="#">Depth Charts</a></li>
          <li><a class="dropdown-item" href="#">Players</a></li>
          <li><a class="dropdown-item" href="#">Monday Night Pick'em</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-sm bg-dark btn-outline-dark text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">NBA</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Home</a></li>
          <li><a class="dropdown-item" href="#">Free Agency</a></li>
          <li><a class="dropdown-item" href="#">Draft</a></li>
          <li><a class="dropdown-item" href="#">Scores</a></li>
          <li><a class="dropdown-item" href="#">Schedule</a></li>
          <li><a class="dropdown-item" href="#">Stats</a></li>
          <li><a class="dropdown-item" href="#">Teams</a></li>
          <li><a class="dropdown-item" href="#">Standings</a></li>
          <li><a class="dropdown-item" href="#">Players</a></li>
          <li><a class="dropdown-item" href="#">Sign Up: Fantasy Basketball</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-sm bg-dark btn-outline-dark text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">MLB</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Home</a></li>
          <li><a class="dropdown-item" href="#">Scores</a></li>
          <li><a class="dropdown-item" href="#">Schedule</a></li>
          <li><a class="dropdown-item" href="#">Standings</a></li>
          <li><a class="dropdown-item" href="#">Stats</a></li>
          <li><a class="dropdown-item" href="#">Teams</a></li>
          <li><a class="dropdown-item" href="#">Daily Lines</a></li>
          <li><a class="dropdown-item" href="#">Fantasy Baseball</a></li>
          <li><a class="dropdown-item" href="#">Depth Charts</a></li>
          <li><a class="dropdown-item" href="#">Players</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-sm bg-dark btn-outline-dark text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Soccer</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Home</a></li>
          <li><a class="dropdown-item" href="#">Scores</a></li>
          <li><a class="dropdown-item" href="#">Schedule</a></li>
          <li><a class="dropdown-item" href="#">Transfers</a></li>
          <li><a class="dropdown-item" href="#">USMNT</a></li>
          <li><a class="dropdown-item" href="#">USWNT</a></li>
          <li><a class="dropdown-item" href="#">Teams</a></li>
          <li><a class="dropdown-item" href="#">Leagues & Cups</a></li>
          <li><a class="dropdown-item" href="#">Tables</a></li>
          <li><a class="dropdown-item" href="#">PickCenter</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-sm bg-dark btn-outline-dark text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">NCAAF</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Home</a></li>
          <li><a class="dropdown-item" href="#">Scores</a></li>
          <li><a class="dropdown-item" href="#">Schedule</a></li>
          <li><a class="dropdown-item" href="#">Standings</a></li>
          <li><a class="dropdown-item" href="#">Stats</a></li>
          <li><a class="dropdown-item" href="#">Teams</a></li>
          <li><a class="dropdown-item" href="#">Recruiting</a></li>
          <li><a class="dropdown-item" href="#">Rankings</a></li>
          <li><a class="dropdown-item" href="#">Daily Lines</a></li>
          <li><a class="dropdown-item" href="#">College Pick'em</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-sm bg-dark btn-outline-dark text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">NHL</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Home</a></li>
          <li><a class="dropdown-item" href="#">Scores</a></li>
          <li><a class="dropdown-item" href="#">Schedule</a></li>
          <li><a class="dropdown-item" href="#">Standings</a></li>
          <li><a class="dropdown-item" href="#">Stats</a></li>
          <li><a class="dropdown-item" href="#">Teams</a></li>
          <li><a class="dropdown-item" href="#">Injuries</a></li>
          <li><a class="dropdown-item" href="#">Draft</a></li>
          <li><a class="dropdown-item" href="#">Sign Up: Fantasy Hockey</a></li>
          <li><a class="dropdown-item" href="#">Players</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-sm bg-dark btn-outline-dark text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
          <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
        </svg></button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">MMA</a></li>
          <li><a class="dropdown-item" href="#">Golf</a></li>
          <li><a class="dropdown-item" href="#">WNBA</a></li>
          <li><a class="dropdown-item" href="#">Boxing</a></li>
          <li><a class="dropdown-item" href="#">CFL</a></li>
          <li><a class="dropdown-item" href="#">Chalk</a></li>
          <li><a class="dropdown-item" href="#">College Sports</a></li>
          <li><a class="dropdown-item" href="#">Cricket</a></li>
          <li><a class="dropdown-item" href="#">F1</a></li>
          <li><a class="dropdown-item" href="#">Little League World Series</a></li>
          <li><a class="dropdown-item" href="#">NASCAR</a></li>
          <li><a class="dropdown-item" href="#">NBA G League</a></li>
          <li><a class="dropdown-item" href="#">NCAAM</a></li>
          <li><a class="dropdown-item" href="#">NCAAW</a></li>
          <li><a class="dropdown-item" href="#">Olympic Sports</a></li>
          <li><a class="dropdown-item" href="#">Racing</a></li>
          <li><a class="dropdown-item" href="#">Recruiting BB</a></li>
          <li><a class="dropdown-item" href="#">Recruiting FB</a></li>
          <li><a class="dropdown-item" href="#">Rugby</a></li>
          <li><a class="dropdown-item" href="#">Tennis</a></li>
          <li><a class="dropdown-item" href="#">WWE</a></li>
          <li><a class="dropdown-item" href="#">X Games</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Reorder Sports</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav nav-pills">
      <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-sm bg-dark btn-outline-dark text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">ESPN+</button>
        <ul class="dropdown-menu dropdown-menu-lg-end">
          <li><a class="dropdown-item" href="#">Featured</a></li>
          <li><a class="dropdown-item" href="#">Originals</a></li>
          <li><a class="dropdown-item" href="#">Browse</a></li>
          <li><a class="dropdown-item" href="#">Schedule & Replays</a></li>
          <li><a class="dropdown-item" href="#">Articles</a></li>
          <li><a class="dropdown-item" href="#">Tools</a></li>
          <li><a class="dropdown-item" href="#">Support & FAQs</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Best of ESPN+</a></li>
          <li><a class="dropdown-item" href="#">UFC Archives</a></li>
          <li><a class="dropdown-item" href="#">30 for 30</a></li>
          <li><a class="dropdown-item" href="#">The Last Dance</a></li>
          <li><a class="dropdown-item" href="#">NFL on ESPN+</a></li>
          <li><a class="dropdown-item" href="#">Boxing On Demand</a></li>
          <li><hr class="dropdown-divider"></li>

        </ul>
      </li>
      <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-sm bg-dark btn-outline-dark text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Watch</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Home</a></li>
          <li><a class="dropdown-item" href="#">Originals</a></li>
          <li><a class="dropdown-item" href="#">Browse</a></li>
          <li><a class="dropdown-item" href="#">Schedule & Replays</a></li>
          <li><a class="dropdown-item" href="#">Support & FAQs</a></li>
          <li><a class="dropdown-item" href="#">Apps</a></li>
          <li><a class="dropdown-item" href="#">Don't Have ESPN?</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-sm bg-dark btn-outline-dark text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Listen</button>
        <ul class="dropdown-menu dropdown-menu-lg-end">
          <li><a class="dropdown-item" href="#">ESPN Radio</a></li>
          <li><a class="dropdown-item" href="#">Listen Live</a></li>
          <li><a class="dropdown-item" href="#">ESPN Daily</a></li>
          <li><a class="dropdown-item" href="#">Podcasts</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-sm bg-dark btn-outline-dark text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Fantasy</button>
        <ul class="dropdown-menu dropdown-menu-lg-end">
          <li><a class="dropdown-item" href="#">Fantasy Home</a></li>
          <li><a class="dropdown-item" href="#">Games Home</a></li>
          <li><a class="dropdown-item" href="#">Sign Up: Fantasy Football</a></li>
          <li><a class="dropdown-item" href="#">Football</a></li>
          <li><a class="dropdown-item" href="#">Baseball</a></li>
          <li><a class="dropdown-item" href="#">Sign Up: Fantasy Basketball</a></li>
          <li><a class="dropdown-item" href="#">Basketball</a></li>
          <li><a class="dropdown-item" href="#">Sign Up: Fantasy Hockey</a></li>
          <li><a class="dropdown-item" href="#">Hockey</a></li>
          <li><a class="dropdown-item" href="#">Monday Night Pick'em</a></li>
          <li><a class="dropdown-item" href="#">College Pick'em</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-sm bg-dark btn-outline-dark text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
          <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
        </svg></button>
        <ul class="dropdown-menu dropdown-menu-lg-end">
          <li><h6 class="dropdown-header">LOCALS</h6></li>
          <li><a class="dropdown-item" href="#">Boston</a></li>
          <li><a class="dropdown-item" href="#">Chicago</a></li>
          <li><a class="dropdown-item" href="#">Clevland</a></li>
          <li><a class="dropdown-item" href="#">Dallas</a></li>
          <li><a class="dropdown-item" href="#">Los Angeles</a></li>
          <li><a class="dropdown-item" href="#">New York</a></li>
          <li><a class="dropdown-item" href="#">Wisconsin</a></li>
          <li><h6 class="dropdown-header">MISC</h6></li>
          <li><a class="dropdown-item" href="#">ESPYS</a></li>
          <li><a class="dropdown-item" href="#">Music</a></li>
          <li><a class="dropdown-item" href="#">Corrections</a></li>
          <li><a class="dropdown-item" href="#">Support & FAQs</a></li>
          <li><a class="dropdown-item" href="#">Apps</a></li>
          <li><a class="dropdown-item" href="#">Don't Have ESPN?</a></li>
        </ul>
      </li>
      <li class="nav-item dropstart">
        <button class="btn btn-secondary btn-sm bg-dark btn-outline-dark text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg></button>
        <ul class="dropdown-menu  dropdown-menu-lg-end">
          <form class="container-fluid">
            <input class="form-control me-2" type="search" placeholder="Search Sports, Teams, or Players..." aria-label="Search">
          </form>
        </ul>  
      </li>
      <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-sm bg-dark btn-outline-dark text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg></button>
        <ul class="dropdown-menu dropdown-menu-lg-end">
          <li><h6 class="dropdown-header">Welcome!</h6></li>
          <li><a class="dropdown-item" href="#">TV Provider</a></li>
          <li><a class="dropdown-item" href="#">Video Settings</a></li>
          <li><a class="dropdown-item" href="#">Log In</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
