<div class="bg-image" style="
    background-image: url('https://g.espncdn.com/lm-static/images/blue_eplus_bg.jpg');
    height: 449px;
    width: auto;
    ">
    <div class="container">
        <div class="header">
            <div class="row">
                <div class="col">
                    <div class="header-left text-white">
                        <div class="header-title">New This Season!</div>
                        <h3 class="subtitle">ESPN+ Fantasy League</h3>
                    </div>
                </div>
                <div class="col">
                    <button href="#" class="btn btn-warning inline"><b>Join ESPN+ To Get Started</b></button>
                </div>
            </div>
        </div>
        <div class="body text-white">
            <div class="row">
                <div class="col">
                    <div class="left">
                        <h4><b>How It Works</b></h4>
                        <p>Put your fantasy football skills to the test against other ESPN+ subscribers. ESPN+ Fantasy Leagues use these rules:</p>
                    </div>
                </div>
                <div class="col">
                    <div class="right"> 

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    