<div class="container-fluid ps-0 pe-0 pt-0 pb-0">
    <div class="row ps-0">
        <div class="col">
            <app-top-nav-bar></app-top-nav-bar>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-top-nav-bar-2></app-top-nav-bar-2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-top-card></app-top-card>
            <app-edit-top-sign-up-card></app-edit-top-sign-up-card>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-top-features></app-top-features>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-friends></app-friends>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-phone-app></app-phone-app>
        </div>
    </div>
</div>