<body class="text-center bg-image" style="
    background-image: url('https://g.espncdn.com/lm-static/onboarding/bg-stickers-ffl.png'),linear-gradient(45deg,#0D830F 0%,#41BA42 100%); 
    height: 780px;
    width: auto;">
    <div class="container-fluid">
        <div class="row">
            <div class="col py-4">
                <img class="" src="https://g.espncdn.com/lm-static/onboarding/header-joinpublic-ffl.png" height="128" width="600">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mx-auto" style="width: 660px; height: 592px;">
                    <div class="row">
                        <div class="col text-start">
                            <b>Your Experience Level</b>
                            <h6 class="fs-7">We'll match you with leagues that have players of similar experience.</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col py-3">
                            <button type="button" data-toggle="toggle" class="btn btn-outline-dark btn-xl">
                                <h1 class="text-start fs-6">Pro</h1>
                                <h6 class="text-start fs-8">I'll play against anyone, anytime!</h6>
                            </button>
                            <button type="button" class="btn btn-outline-dark btn-xl">
                                <h1 class="text-start fs-6">Beginner</h1>
                                <h6 class="text-start fs-8">I want to play with other beginners.</h6>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-start">
                            <b>Scoring</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col py-3">
                            <button type="button" class="btn btn-outline-dark btn-xl">
                                <h1 class="text-start fs-6">Points-Per-Recption</h1>
                                <h6 class="text-start fs-8">Get extra points for catches by recievers.</h6>
                            </button>
                            <button type="button" class="btn btn-outline-dark btn-xl">
                                <h1 class="text-start fs-6">No Points-Per-Recption</h1>
                                <h6 class="text-start fs-8">Don't get extra points for catches.</h6>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-start">
                            <b>Draft Type</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col py-3">
                            <button type="button" class="btn btn-outline-dark btn-xl">
                                <h1 class="text-start fs-6">Snake</h1>
                                <h6 class="text-start fs-8">Pick Order reversed each round</h6>
                            </button>
                            <button type="button" class="btn btn-outline-dark btn-xl">
                                <h1 class="text-start fs-6">Salary Cap</h1>
                                <h6 class="text-start fs-8">Place offers to sign players to your team</h6>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-start">
                            <b>Draft Date & Time</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="dropdown text-start py-3">
                                <button class="btn btn-outline-secondary dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                  Draft Now
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" href="#">Draft Now</a></li>
                                  <li><a class="dropdown-item" href="#">Top Times</a></li>
                                  <li><a class="dropdown-item" href="#">Later Today</a></li>
                                  <li><a class="dropdown-item" href="#">Tomorrow</a></li>
                                </ul>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-xl text-white"><b>Join a League</b></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>