<div class="container-fluid" style="margin-top: 100px; margin-left: 200px; margin-right: 200px;">
    <div class="card" style="width: 1220px;">
        <div class="row">
            <div class="col">
                <h4>Mock Draft Lobby</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span>Mock Draft Room Status</span>
            </div>
            <div class="col">
                
            </div>
        </div>
    </div>
</div>