<ul class="nav nav-pills">
    <a class="navbar-brand" href="#">
        <img src="assets/ESPNLogo (2).PNG" alt="" width="126" height="35">
    </a>
    <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-md bg-dark btn-outline-dark text-white" aria-current="page" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">NFL</button>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Home</a></li>
        <li><a class="dropdown-item" href="#">Scores</a></li>
        <li><a class="dropdown-item" href="#">Schedule</a></li>
        <li><a class="dropdown-item" href="#">Standings</a></li>
        <li><a class="dropdown-item" href="#">Stats</a></li>
        <li><a class="dropdown-item" href="#">Teams</a></li>
        <li><a class="dropdown-item" href="#">Sign Up: Fantasy Football</a></li>
        <li><a class="dropdown-item" href="#">Depth Charts</a></li>
        <li><a class="dropdown-item" href="#">Players</a></li>
        <li><a class="dropdown-item" href="#">Monday Night Pick'em</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-md bg-dark btn-outline-dark text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">NBA</button>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Home</a></li>
        <li><a class="dropdown-item" href="#">Free Agency</a></li>
        <li><a class="dropdown-item" href="#">Draft</a></li>
        <li><a class="dropdown-item" href="#">Scores</a></li>
        <li><a class="dropdown-item" href="#">Schedule</a></li>
        <li><a class="dropdown-item" href="#">Stats</a></li>
        <li><a class="dropdown-item" href="#">Teams</a></li>
        <li><a class="dropdown-item" href="#">Standings</a></li>
        <li><a class="dropdown-item" href="#">Players</a></li>
        <li><a class="dropdown-item" href="#">Sign Up: Fantasy Basketball</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-md bg-dark btn-outline-dark text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">MLB</button>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Home</a></li>
        <li><a class="dropdown-item" href="#">Scores</a></li>
        <li><a class="dropdown-item" href="#">Schedule</a></li>
        <li><a class="dropdown-item" href="#">Standings</a></li>
        <li><a class="dropdown-item" href="#">Stats</a></li>
        <li><a class="dropdown-item" href="#">Teams</a></li>
        <li><a class="dropdown-item" href="#">Daily Lines</a></li>
        <li><a class="dropdown-item" href="#">Fantasy Baseball</a></li>
        <li><a class="dropdown-item" href="#">Depth Charts</a></li>
        <li><a class="dropdown-item" href="#">Players</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-md bg-dark btn-outline-dark text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Soccer</button>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Home</a></li>
        <li><a class="dropdown-item" href="#">Scores</a></li>
        <li><a class="dropdown-item" href="#">Schedule</a></li>
        <li><a class="dropdown-item" href="#">Transfers</a></li>
        <li><a class="dropdown-item" href="#">USMNT</a></li>
        <li><a class="dropdown-item" href="#">USWNT</a></li>
        <li><a class="dropdown-item" href="#">Teams</a></li>
        <li><a class="dropdown-item" href="#">Leagues & Cups</a></li>
        <li><a class="dropdown-item" href="#">Tables</a></li>
        <li><a class="dropdown-item" href="#">PickCenter</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-md bg-dark btn-outline-dark text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">NCAAF</button>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Home</a></li>
        <li><a class="dropdown-item" href="#">Scores</a></li>
        <li><a class="dropdown-item" href="#">Schedule</a></li>
        <li><a class="dropdown-item" href="#">Standings</a></li>
        <li><a class="dropdown-item" href="#">Stats</a></li>
        <li><a class="dropdown-item" href="#">Teams</a></li>
        <li><a class="dropdown-item" href="#">Recruiting</a></li>
        <li><a class="dropdown-item" href="#">Rankings</a></li>
        <li><a class="dropdown-item" href="#">Daily Lines</a></li>
        <li><a class="dropdown-item" href="#">College Pick'em</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-md bg-dark btn-outline-dark text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">NHL</button>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Home</a></li>
        <li><a class="dropdown-item" href="#">Scores</a></li>
        <li><a class="dropdown-item" href="#">Schedule</a></li>
        <li><a class="dropdown-item" href="#">Standings</a></li>
        <li><a class="dropdown-item" href="#">Stats</a></li>
        <li><a class="dropdown-item" href="#">Teams</a></li>
        <li><a class="dropdown-item" href="#">Injuries</a></li>
        <li><a class="dropdown-item" href="#">Draft</a></li>
        <li><a class="dropdown-item" href="#">Sign Up: Fantasy Hockey</a></li>
        <li><a class="dropdown-item" href="#">Players</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <button class="btn btn-secondary btn-md bg-dark btn-outline-dark text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
        </svg></button>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">MMA</a></li>
        <li><a class="dropdown-item" href="#">Golf</a></li>
        <li><a class="dropdown-item" href="#">WNBA</a></li>
        <li><a class="dropdown-item" href="#">Boxing</a></li>
        <li><a class="dropdown-item" href="#">CFL</a></li>
        <li><a class="dropdown-item" href="#">Chalk</a></li>
        <li><a class="dropdown-item" href="#">College Sports</a></li>
        <li><a class="dropdown-item" href="#">Cricket</a></li>
        <li><a class="dropdown-item" href="#">F1</a></li>
        <li><a class="dropdown-item" href="#">Little League World Series</a></li>
        <li><a class="dropdown-item" href="#">NASCAR</a></li>
        <li><a class="dropdown-item" href="#">NBA G League</a></li>
        <li><a class="dropdown-item" href="#">NCAAM</a></li>
        <li><a class="dropdown-item" href="#">NCAAW</a></li>
        <li><a class="dropdown-item" href="#">Olympic Sports</a></li>
        <li><a class="dropdown-item" href="#">Racing</a></li>
        <li><a class="dropdown-item" href="#">Recruiting BB</a></li>
        <li><a class="dropdown-item" href="#">Recruiting FB</a></li>
        <li><a class="dropdown-item" href="#">Rugby</a></li>
        <li><a class="dropdown-item" href="#">Tennis</a></li>
        <li><a class="dropdown-item" href="#">WWE</a></li>
        <li><a class="dropdown-item" href="#">X Games</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Reorder Sports</a></li>
        </ul>
    </li>
</ul>