<div class="bg-image" style="background-color: #edeef0">
    <div class="container-fluid" style="width: 960px; height: 536px; padding-top: 36px;">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-4"><b>Manage and follow your team in the ESPN Fantasy App!</b></h3>
                <p style="font-size: 14px; margin-bottom: 24px;">Make lineup moves, savvy free agent pick ups, and trade with friends wherever you are.</p>
                <p style="font-size: 14px; margin-bottom: 24px;">Follow your team with FantasyCast and watch streams of your players right in the app.</p>
                <div class="card">
                    <div class="container-fluid" style="padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px;">
                        <div class="row">
                            <div class="col-3">
                                <img class="mx-auto" src="https://g.espncdn.com/lm-static/fantasy/fantasy-logo-appTile@2x.png" height="75" width="75">
                            </div>
                            <div class="col px-0">
                                <h6><b>Get the App!</b></h6>
                                <p style="font-size: 12px;">The ESPN Fantasy app is an optimized experience for your device and the best way to play our game!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 ">
                <img class="mx-auto" src="https://g.espncdn.com/lm-static/ffl/images/device_app.png" height="685" width="334.55">
            </div>
        </div>
    </div>
</div>