<div class="container-fluid" style="width: 960px; height: 459.63px; padding-top: 36px; padding-bottom: 16px;">
    <div class="row">
        <div class="col-sm-6">
            <img class="mx-auto" src="https://g.espncdn.com/lm-static/ffl/images/fans-cheering.png" height="407.63" width="470">
        </div>
        <div class="col-sm-6">
            <h3><b>Compete against friends with ESPN Fantasy League Manager!</b></h3>
            <p style="font-size: 14px;">Create a league with family or friends! Not sure who to play with? Join a public league with other fans.</p>
        </div>
    </div>
</div>