<div class="card mx-2" style="
                    width: 309.33px;
                    height: 158px;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 24px;
                    padding-bottom: 24px;
                    align-items: center;
                    border-radius: 10px;
                    ">
                    <div class="card-title">
                        <a routerLink="{{routing}}" routerLinkActive="active" class="btn {{color}}" style="border-radius: 40px; min-width: 289.33px; min-height: 40px;"><b>{{button}}</b></a>
                    </div>
                    <p class="card-text text-center" style="font-size: 14px;">{{info}}</p>
                </div>